@import "./../../constants.css";

.cursor,
.notes-container {
  transition: transform 600ms var(--ease-out-cubic);
}

.cursor {
  max-width: 1.5em;
}

.notes {
  max-width: 500px;
  background: var(--background-color);
  box-shadow: var(--text-color) 2px 2px 0px;

  transform: translate3d(0, 0, 0);
}
